<div class="text-center mt-12">
  <h2 class="text-2xl font-bold text-gray-800">
  <%= link_to "GrowFitty", root_path, class: "hover:text-blue-500" %>
  </h2>
  <p class="text-lg font-medium text-gray-600">ー子供服サイズ予測で、成長をもっと楽しく！ー</p>

  <p class="mt-4 text-md text-gray-700 max-w-2xl mx-auto">
    GrowFittyは、お子さまの成長に合わせて最適な服のサイズを予測するサービスです。<br>
    生年月日・身長・体重・性別から、先の季節にぴったりなサイズを提案。<br><br>
    コーディネート投稿やブックマーク機能で、楽しく効率的なお買い物をサポートします。
  </p>
</div>

<h1 class="text-center text-green-600 text-3xl font-bold mt-8">サイズ予測を試してみよう！</h1>

<div class="container mx-auto flex flex-col items-center mt-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- ゲスト用サイズ予測ボタン -->
    <%= link_to new_prediction_path, class: "btn btn-primary text-lg px-8 py-4 shadow-lg w-full text-center" do %>
      ゲスト用サイズ予測
    <% end %>

    <!-- 会員用サイズ予測ボタン -->
    <%= form_with url: members_create_prediction_path, method: :post do %>
      <button type="submit" class="btn btn-success text-lg px-8 py-4 shadow-lg w-full text-center">
        会員用サイズ予測
      </button>
    <% end %>
  </div>
</div>
