<h1 class="text-2xl font-bold text-[#2D4F4B] text-center mb-8">コーディネート一覧</h1>

<% @posts.each do |post| %>
  <div class="post bg-[#FFFCF4] border border-[#F0EAD6] rounded-lg p-6 mb-6 shadow">
    <% if post.title.present? %>
      <h2 class="text-xl font-semibold text-[#3F8378] mb-2">
        <%= link_to post.title, post_path(post), class: "hover:underline text-[#3F8378]" %>
      </h2>
    <% end %>

    <% if post.body.present? %>
      <p class="text-[#4A6F6A]"><%= post.body %></p>
    <% end %>
  </div>
<% end %>

<!-- 投稿ボタン -->
<div class="flex flex-col md:flex-row justify-center items-center gap-4 mt-8">
  <%= link_to '新しいコーディネートを投稿する', new_post_path, class: 'btn px-6 py-3 w-72 text-lg shadow-lg text-white bg-[#EF6C00] hover:bg-[#d95f00] transition-colors duration-200' %>

  <!-- 戻るボタン -->
  <%= link_to '戻る', root_path, class: 'btn px-6 py-3 w-64 text-lg shadow-lg text-white bg-[#4AA398] hover:bg-[#3e8f8e] transition-colors duration-200' %>
</div>
