<h1 class="text-2xl font-bold text-[#2D4F4B] text-center mb-8">コーディネート一覧</h1>

<div class="max-w-2xl mx-auto">
<!-- 部分テンプレート -->
  <%= render @posts %>

  <div class="flex justify-center mt-8 mb-8">
    <%= paginate @posts %>
  </div>
</div>

<div class="flex flex-col md:flex-row justify-center items-center gap-4 mt-8 mb-16 py-12">
  <!-- 戻るボタン -->
  <%= link_to "戻る", root_path, class: "btn px-6 py-3 w-64 text-lg shadow-lg text-white bg-[#4AA398] hover:bg-[#3e8f8e] transition-colors duration-200" %>
  <!-- 新規投稿ボタン -->
  <%= link_to "新しいコーディネートを投稿する", new_post_path, class: "btn px-6 py-3 w-72 text-lg shadow-lg text-white bg-[#EF6C00] hover:bg-[#d95f00] transition-colors duration-200" %>
</div>
