@import "tailwindcss" source(none);
@import "@yaireo/tagify/dist/tagify.css";

@source "../../../app/views/**/*";
@source "../../../app/javascript/**/*.js";
@source "../../../app/helpers/**/*.rb";
@source "../../../public/*.html";

@plugin "daisyui" {
    themes: light --default;
}
