@import "tailwindcss" source(none);

@source "../../../app/views/**/*";
@source "../../../app/javascript/**/*.js";
@source "../../../app/helpers/**/*.rb";
@source "../../../public/*.html";

@plugin "daisyui" {
    themes: light --default;
}
