<p>
  <%= @resource.user_name %> 様
</p>

<p>
  パスワード再設定のご依頼を受け付けました。
</p>

<p>
  下記のリンクをクリックし、新しいパスワードを設定してください。
</p>

<p>
  <%= link_to "パスワードを再設定する",
  edit_user_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  ※ このメールに心当たりがない場合は、何も操作せず破棄してください。
</p>

<p>
  上記リンクにアクセスして新しいパスワードを設定するまで、
  パスワードは変更されません。
</p>
